[pingtest]
# Prefix for the graphite database
prefix=resplat.mediaflux.
# What local file should be used in testing
pingFile=/Users/jwinton/Desktop/Brampton.jpg
# Set Carbon server details
CARBON_SERVER = '115.146.94.123'
CARBON_PICKLE_PORT = 2004